#container{
    border: 1px solid black;
}

form{
    display: inline;
}

p{
    font-size: 75%;
    margin: -8px 0 0 5px;
    background-color: white;
    display: table;
}

h3{
    margin-left: 15px;
}
