<div>
  <p id='label'>MainComponent</p>
  <p class='text'>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Mollitia, debitis ipsa. Aperiam, dolor, enim. Debitis non quasi obcaecati aperiam, aspernatur enim ipsa sint commodi blanditiis provident tempora possimus, pariatur incidunt.</p>
  <p class='text'>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Veniam porro odio repellendus fugiat. Harum optio sit cupiditate explicabo voluptatem delectus nobis, eum porro tempore, aspernatur laboriosam, nulla amet quia nesciunt.</p>
</div>