div{
    background-color: #99C3FA;
    border: 1px solid black;
    height: 200px;
    vertical-align: top;
}

p{
    font-size: 75%;
    margin-top: 0px;
    padding: 1px;
}

button{
    margin: 10px auto;
    display: block;
    width: 70%;
    background-color: white;
    box-shadow: 3px 3px 2px #888888;
}